@import "styles/mixins";
@import "styles/variables";

.resetButton {
  border: none;

  display: flex;
  align-items: center;
  gap: 4px;

  @include font-500-14;
  line-height: 20px;

  background: none;
  color: $Grey-500;

  cursor: pointer;

  transition: color .3s ease-in-out;

  &:hover {
    color: $Blue-400;

    .iconCross line {
      stroke: $Blue-400;
    }
  }

  &:active {
    color: $Blue-500;

    .iconCross line {
      stroke: $Blue-500;
    }
  }
}