@import 'styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@mixin buttonStyles {
  width: 83px;
  min-height: 32px;
  padding: 4px 20px;

  border: none;
  border-radius: 8px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: $White;
  background-color: $Blue-500;

  cursor: pointer;

  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: $Blue-400;
  }

  &:active {
    background-color: $Blue-600;
  }
}


.buttonSmall {
  @include buttonStyles;
}

.buttonMedium {
  @include buttonStyles;
  width: 164px;
  min-height: 42px;

  font-weight: 600;
  line-height: 22px;

  > a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: $Blue-600;
  }

  background-color: $Blue-100;

  &:hover {
    background-color: $Blue-200;
  }

  &:active {
    background-color: $Blue-300;
  }
}

.buttonLarge {
  @include buttonStyles;
  width: 275px;
  min-height: 40px;
  margin-left: -1px;
}