@import "styles/mixins";

.favoritesPage {
  width: 100%;

  @include flex-center;
  flex-direction: column;
  row-gap: 104px;

  @media (max-width: 320px) {
    row-gap: 26px;
  }

  @media (min-width: 321px) and (max-width: 767px) {
    row-gap: 46px;
  }
}

.list {
  width: 100%;

  @include flex-center;
  flex-direction: column;
  gap: 16px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
}