.favoritesPage{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

.list{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}