@import "styles/variables";

.favoritesButton {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
}

.iconStar {
  cursor: pointer;

  &:hover {
    path {
      stroke: $Blue-500;
    }
  }
}

.favorite {
  path {
    stroke: $Blue-500;
  }

  fill: $Blue-500;
}
