@import "styles/variables";

.topBar {
  width: 1116px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;

  @media (max-width: 320px) {
    justify-content: space-between;
  }

  @media (min-width: 321px) and (max-width: 767px) {
    column-gap: 20px;
  }
}


.links {
  width: calc(63% + 2px);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 40px;
  row-gap: 10px;

  @media (max-width: 320px) {
    display: none;
  }

  @media (min-width: 321px) and (max-width: 767px) {
    display: none;
  }
}

.burger {
  display: none;
  flex-direction: row-reverse;

  @media (max-width: 320px) {
    display: flex;

  }

  @media (min-width: 321px) and (max-width: 767px) {
    display: flex;
  }
}