.topBar {
  width: 100%;

  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  margin-right: 140px;

  display: flex;
  justify-content: center;
}

.logo {
  padding-top: 6px;
}

.links {
  display: flex;
  column-gap:50px;
}