@import "styles/variables";

a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: $Black;

  transition: color .4s ease-in-out;

  &:active, &.active {
    font-weight: 500;
    color: $Blue-500;
  }
}