@import "styles/mixins";
@import "styles/variables";

.link a {
  padding: 10px;

  @include font-400-16;
  line-height: 20px;

  white-space: nowrap;

  color: $Black;

  transition: color .3s ease-in-out;

  &:hover {
    color: $Blue-600;
  }

  &:active, &.active {
    font-weight: 500;
    color: $Blue-500;
  }
}