@import "styles/variables";

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: $Black;

  &:focus {
    font-weight: 500;
    color: $Blue-500;
  }
}