@import "mixins";
@import "variables";

#root {
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif;

  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

header {
  width: 100%;
  min-height: 84px;
  padding: 0 30px;

  @include flex-center;
  flex-wrap: wrap;

  background-color: $White;

  @media (max-width: 320px) {
    padding-top: 5px
  }
}


main {
  width: 100%;
  height: calc(100% - 84px);
  padding: 40px 30px;

  background-color: #F7F7F8;

  @media (max-width: 320px) {
    padding: 20px 10px;
  }

  @media (min-width: 321px) and (max-width: 767px) {
    padding: 30px 20px;
  }
}

.wrapper-balloon {
  height: 100vh;

  @include flex-center;

  animation: rotate .5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// Filters
.mantine-gebwyd {
  width: 100px;
}

//BurgerMenuWrapper
.mantine-1w30zfw {
  padding: 0;
  right: 0;
  position: fixed;

  justify-content: flex-end;


  animation: slideInRight 0.3s ease;
}

@keyframes slideInRight {
  from {
    right: -440px;
  }
  to {
    right: 0;
  }
}

// BurgerTitle
.mantine-1k9itrp {
  margin-bottom: 20px;
}

//BurgerMenuItemsWrapper
.mantine-3cevnw {
  border: 1px solid #EAEBED;
  border-bottom-left-radius: 10px;
}

//Indicator
.mantine-10hwfkz {
  right: 0;
  top: 7px
}

//Dark Theme
.main.dark {
  background-color: #232134;
}

.header.dark {
  background-color: #232134;
}



