@import "variables";

* {
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif;

  box-sizing: border-box;
}

body {
  background-color: #E5E5E5 !important;
}

.wrapper {
  max-width: 1440px;
  margin: auto;

  border-radius: 12px;
  background: #F7F7F8;
}

main {
  padding: 40px 162px 52px 162px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

header {
  background-color: $Grey-200;
}


