@import "variables";

* {
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif;

  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}


body {
  background-color: #F7F7F8 !important;
}

header {
  width: 100%;
  min-height: 84px;
  padding: 0 30px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-color: $White;

  @media (max-width: 320px) {
    padding-top: 5px
  }


}

main {
  width: 100%;
  padding: 40px 30px;

  background-color: #F7F7F8;

  @media (max-width: 320px) {
    padding: 20px 10px;
  }

  @media (min-width: 321px) and (max-width: 767px) {
    padding: 30px 20px;
  }
}

.wrapper-balloon{
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: rotate .5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mantine-gebwyd {
  position: relative;
  display: inline-block;
}





