$White: #FFFFFF;

$Black: #232134;

$Grey-600: #7B7C88;
$Grey-500: #ACADB9;
$Grey-300: #D5D6DC;
$Grey-200: #EAEBED;
$Grey-100: #F5F5F6;

$Blue-600: #3B7CD3;
$Blue-500: #5E96FC;
$Blue-400: #92C1FF;
$Blue-300: #B7D6FF;
$Blue-200: #C9E0FF;
$Blue-200: #C9E0FF;
$Blue-100: #DEECFF;
