@import "styles/mixins";
@import "styles/variables";

.vacancyHeader {
  width: 100%;
  max-width: 773px;
  min-height: 137px;
  padding: 23px 23px 23px 23px;

  display: flex;
  justify-content: space-between;

  border: 1px solid $Grey-200;
  border-radius: 12px;

  background: $White;
}

.about {
  width: 87%;

  display: flex;
  flex-direction: column;
  gap: 13px;
}

.title {
  @include font-600-20;
  line-height: 24px;

  color: $Blue-500;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px

}

.salary {
  @include font-600-16;
  line-height: 20px;

  color: $Black;
}

.rate {
  @include font-400-16;
  line-height: 20px;

  color: $Black;
}

.location {
  margin-left: 2px;
  display: flex;
  gap: 10px;
}

.address {
  @include font-400-16;
  line-height: 19px;

  color: $Black;
}






