@import "styles/variables";
@import "styles/mixins";

.vacancyDescription {
  min-height: 548px;
  padding: 10px 24px 24px 23px;

  border: 1px solid $Grey-200;
  border-radius: 12px;

  @include flex-column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  background: $White;
}

.vacancyRichText {
  > p, > b {
    margin-top: 13px;

    display: block;

    @include font-700-20;
    line-height: 20px;


    color: $Black;
  }

  > ul {
    padding-left: 10px;
    margin-top: 16px;

    > li {
      display: flex;
      align-items: flex-start;

      @include font-400-16;
      line-height: 22px;

      color: $Black;

      &::before {
        width: 5px;
        height: 5px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 50%;

        content: "";
        flex-shrink: 0;
        justify-items: center;

        background-color: $Black;
      }
    }
  }
}