@import "styles/variables";

.header {
  width: 100%;
  min-height: 84px;
  padding: 0 162px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  background-color: $White;

  @media (max-width: 320px) {
    padding: 5px 30px;
  }

  @media (min-width: 321px) and (max-width: 767px) {
    padding: 0 50px;
  }
}


