.search {
  position: relative;
  width: 100%;

  .icon {
    position: absolute;
    top: 16px;
    left: 12px;
  }

  button {
    position: absolute;
    top: 8px;
    right: 12px;

    @media (max-width: 320px) {
      right: 10px;
    }

  }
}