.homePage {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 28px;

  @media (max-width: 320px) {
    flex-wrap: wrap;
    row-gap: 16px;
  }

  @media (min-width: 321px) and (max-width: 767px) {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}

.list {
  width: 773px;

  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.pagination {
  margin-top: 24px;
  margin-right: 5px;
}