.homePage {
  display: flex;
  align-items: flex-start;
  column-gap: 28px;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.pagination {
  margin-top: 24px;
  margin-right: 5px;
}