@import "styles/mixins";
@import "styles/variables";

.mantine-Input-input {
  min-height: 42px;
  padding: 0 4px 2px 11px;
  border: 1px solid $Grey-300;
  border-radius: 8px;

  background: $White;

  &::placeholder {
    @include font-400-14;
    line-height: 20px;

    color: $Grey-500;
  }

  &:hover {
    border: 1px solid $Blue-500;
  }
}

.mantine-Input-rightSection {
  @include flex-column;
  row-gap: 8px;

  .iconInput {
    width: 10px;
    height: 6px;
  }
}