@import "styles/variables";

.mantine-Input-input {
  width: 275px;
  height: 42px;

  border: 1px solid $Grey-300;
  border-radius: 8px;

  background: $White;

  &::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: $Grey-500;
  }

  &:hover {
    border: 1px solid $Blue-500;
  }
}

.mantine-Input-rightSection {
  margin-right: 7px;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .iconInput {
    width: 10px;
    height: 6px;
  }
}